html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #78AC47;
    color: #FFFDFD;
    font-size: 24px;
    font-family: "Rubik";
    font-weight: 500;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header_name {
    height: 84px;
    width: 227px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: "Vetrino";
    font-weight: 400;
}
.header_menu {
    height: 84px;
    width: 534px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_basket {
    height: 84px;
    width: 227px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about {
    background-image: url("../images/Mask group.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 587px;
}

.mask_top {
    display: flex;
    flex-direction: column;
    background-size: cover;
    gap: 26px;
    padding-top: 128px;
}


.div_name {
    color: #FFFDFD;
    font-family: "Vetrino";
    font-size: 64px;
    font-weight: 400;
}
.div_ip {
    color: #FFFDFD;
    font-family: "Vetrino";
    font-size: 48px;
    font-weight: 400;
}
.input_basket {
    border: none;
    color: #FFFDFD;
    font-family: "Rubik";
    font-size: 26px;
    height: 64px;
    width: 400px;
    border-bottom: 1px solid #78AC47;
    border-radius: 50px;
    background-color: #78AC47;
    font-weight: 500;
}

.catalog {
    background-color: #EAEAEA
}

.today {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1750px;
}
.div_today {
    display: flex;
    align-items: center;
    height: 135px;
    gap: 20px;
}
.product_text {
    font-family: "Vetrino";
    font-size: 36px;
    flex-basis: 401px;
    font-weight: 400;
    line-height: 48px;
}

.line {
  border-bottom: 1px solid #000;
  flex: 1;
}


.product {
    height: 477px;
    width: 400px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 20px;
}
.div_product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}
.grup_product {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.drawing1 {
    background-image: url("../images/Mask group (1).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing2 {
    background-image: url("../images/Mask group (2).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing3 {
    background-image: url("../images/Mask group (3).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing4 {
    background-image: url("../images/Mask group (4).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing5 {
    background-image: url("../images/Mask group (5).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing6 {
    background-image: url("../images/Mask group (6).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing7 {
    background-image: url("../images/Mask group (7).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing8 {
    background-image: url("../images/Mask group (8).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.drawing9 {
    background-image: url("../images/Mask group (9).png");
    height: 291px;
    width: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 20px;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.product_info {
    height: 106px;
    width: 360px;
    justify-content: center;
    align-items: center;

}
.product_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.input_hit {
    font-family: "Rubik";
    font-size: 18px;
    height: 30px;
    width: 145px;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-weight: 500;
}
.product_info1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bouquet_name {
    height: 27px;
    font-size: 20px;
    font-family: "Rubik";
    font-weight: 400;
}
.cost {
    height: 27px;
    font-size: 22px;
    font-family: "Rubik";
    font-weight: 500;
}
.detailed {
    border: none;
    color: #FFFDFD;
    font-family: "Rubik";
    font-size: 20px;
    height: 64px;
    width: 172px;
    border-bottom: 1px solid #78AC47;
    border-radius: 50px;
    background-color: #78AC47;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.detailed1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.questions {
    background-image: url("../images/Mask group_b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 757px;
    object-fit: none;

}

.mask_bottom {

    height: 700px;
    width: 100%-105px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: flex-start;
    gap: 26px;
    padding-top: 50px;
}
.question {
    height: 40px;
    width: 687px;
    display: flex;
    align-items: center;
    font-size: 34px;
    font-family: "Vetrino";
    color: #FFFDFD;
    font-weight: 400;
}
.letter {
    height: 40px;
    width: 687px;
    display: flex;
    align-items: center;
    font-size: 34px;
    font-family: "Vetrino";
    color: #FFFDFD;
    font-weight: 400;
}
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input_name {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.label_name {
    color: #FFFDFD;
    font-size: 22px;
    font-family: "Rubik";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 64px;
    width: 824px;
    padding-left: 10px;
    border-bottom: 1.5px solid #FFFDFD;
    font-weight: 400;
}
.label_phone {
    color: #FFFDFD;
    font-size: 22px;
    font-family: "Rubik";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 64px;
    width: 824px;
    padding-left: 10px;
    border-bottom: 1.5px solid #FFFDFD;
    font-weight: 400;
}
.input_phone {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.label_comment {
    color: #FFFDFD;
    font-size: 22px;
    font-family: "Rubik";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 175px;
    width: 824px;
    padding-left: 10px;
    border-bottom: 1.5px solid #FFFDFD;
    font-weight: 400;
}
textarea {
    height: 110px;
    width: 700px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.label_sogl {
    color: #FFFDFD;
    font-size: 22px;
    font-family: "Rubik";
    font-weight: 400;
}
.input_sogl {
    height: 20px;
    width: 20px;
}
.input_sogl::after {
  content: '✔';
  display: none;
  color: green;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 4px;
}
.input_sogl::before {
  content: '✔';
  display: none;
  color: green;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 4px;
}
.submit {
    border: none;
    color: #FFFDFD;
    font-family: "Rubik";
    font-size: 26px;
    height: 64px;
    width: 400px;
    border-bottom: 1px solid #78AC47;
    border-radius: 50px;
    background-color: #78AC47;
    font-weight: 500;
}
.footer {
    height: 302px;
    background-color: #234118;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_link {
    display: flex;
    gap: 58px;
    justify-content: flex-start;
    align-items: center;
}
.footer_menu {
    color: #FFFDFD;
    font-size: 24px;
    font-family: "Rubik";
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 90px;
    height: 84px;
    font-weight: 500;
}
.footer_name {
    font-size: 32px;
    font-family: "Vetrino";
    color: #FFFDFD;
    height: 84px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
}
.footer_pol {
    color: #FFFDFD;
    font-size: 22px;
    font-family: "Rubik";
    font-weight: 400;
}
.color:hover {
  background-color: #8F9BA3;
  border-bottom: 1px solid #8F9BA3;
}
.color:active {
  background-color: #BC5B90;
  border-bottom: 1px solid #BC5B90;
}
